<h2>Errores: </h2>
<% @user.errors.messages.each do |key,value| %>
  <p>
    <b><%= key.to_s.humanize %>:</b>
    <%= value.first %>
  </p>
<% end %>

<%= semantic_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :birth_day, as: :string, label: "Fecha de Nacimiento" %>
  <%= f.input :password %>

  <h3>Profile:</h3>
  
  <%= f.semantic_fields_for :profile do |h| %>
    <%= h.input :phone %>
    <%= h.input :country, as: :string %>
    <%= h.input :city %>
    <%= h.input :zip_code %>
    <%= h.input :line1 %>
    <%= h.input :line2 %>
    <%= h.input :url_gravatar %>
  <% end %>

  <h3>Libros: </h3>

  <%= f.input :books, as: :check_boxes %>

  </br>

  <%= f.submit %>
<% end %>