<h1>Profile de: <%= @profile.user.nombre_completo %></h1>

<p>
  <b>Phone: </b>
  <%= @profile.phone %>
</p>
<p>
  <b>Country: </b>
  <%= @profile.country %>
</p>
<p>
  <b>City: </b>
  <%= @profile.city %>
</p>
<p>
  <b>Zip Code: </b>
  <%= @profile.zip_code %>
</p>