<%= flash[:notice] %>

<h1>Libro: <%= @book.title %></h1>
<p>
  <b>Author: </b>
  <%= @book.author %>
  <% unless @read %>
    <%= link_to "Ya lo lei", read_book_path, method: :patch %>
  <% end  %>
</p>
</br>

<table border = "1">
  <thead>
    <tr>
      <th>Usuario</td>
      <th>Comentario</td>
    </tr>
  </thead>
  <tbody>
    <% @book.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.nombre_completo %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Read by: </h3>

<% @book.users.each do |user| %>
  <b><%= user.nombre_completo %></b>
<% end %>

</br>
</br>
<%= link_to "Crear Comentario", new_book_comment_path(@book) %>